@import '../common';

.navbar {
    height: 50px;
    background-color: rgb(245,245,245);
    .links span{
        margin-top: 13px;
        display: inline-block; 
        font-size: 20px;
        margin-left: 5px;
        color: grey;
    }
    .links span > a{
        text-decoration: none;
        color: grey;
    }  
    
    .links span > a:hover{
        text-decoration: none;
        color: black; 
    }
}


