<navbar></navbar>
<div class="list-window">
    <div class="list-window__logo">
        <img src="img/game-pad.png">
        <h1>Game list</h1>
    </div>
    <div class="games">
        <div class="games__game" ng-repeat="item in $ctrl.allTopCells">
            <div></div>
            <div>{{item.name}}</div>
            <div>Seed money: {{item.money}}$</div>
            <div>Map size: {{item.size}}</div>
            <div>Players: {{item.nop}}</div>
            <div></div>
        </div>
    </div>
    
    <div class="list-window__button">
        <button ui-sref="list" type="button" >Update</button>
    </div>
</div>
<!--<h1>{{ $ctrl.name }}</h1>-->

