<navbar></navbar>
<div class="list-window">
    <div class="list-window__logo">
        <img src="img/game-pad.png">
        <h1>Game list</h1>
    </div>
    <div class="list-window__game">
        <div></div>
        <div>Player 1</div>
        <div>Seed money:1000$</div>
        <div>Map size: 3 x 4</div>
        <div>Players: 2 x 2</div>
        
        
    </div>
    
    
    <div class="list-window__button">
        <button ui-sref="list" type="button" >Update</button>
    </div>
</div>
<!--<h1>{{ $ctrl.name }}</h1>-->

