<navbar></navbar>

<div class="login-window">
    <img src="img/login-logo.png">
    
    <div class="login-block">
        
        <div class="login-block__label"><label>Profile registration</label></div>
        <input class="login-block__input" placeholder="Enter your login">
        <input class="login-block__input" placeholder="Enter your password">
        <hr color="white">
        <div>
            <button  type="button" class="login-block__button" >Facebook</button>
            <button  type="button" class="login-block__button" >Twitter</button>            
        </div>
        <hr color="white">
        <div>
            <button  type="submit" class="login-block__buttonsb">Join</button>
        </div>
    </div>        
</div>

<!--<h1>{{ $ctrl.name }}</h1>-->

