.mainclasswindow{
    width: 950px;
    height: 650px;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 16px;
    text-align: center;
}
.top{
    width: 950px;
    height: 150px;
    &__block{
        display: inline-block;
        width: 50px;
        height: 150px;
        background-color: rgba(217,217,217,0.8);
        writing-mode:vertical-lr;
        box-sizing: border-box;
        padding: 15px;
    }
    div:nth-of-type(even){
        background-color: rgba(207,207,207,0.8);
    }
    div:nth-of-type(1), div:nth-of-type(15){
        margin-left: -150px;
        position: absolute;
        writing-mode:horizontal-tb;
        padding-top: 70px;
        width: 150px;
        height: 150px;
        background-color: rgba(125,125,125,0.8);
    }
    div:nth-of-type(15){
        margin-left: 0px;
    }
}
.middle{
    width: 950px;
    height: 350px;
    &__left{
        width: 150px;
        height: 350px;
        &__block{
            width: 150px;
            height: 50px;
            background-color: rgba(217,217,217,0.8);
            box-sizing: border-box;
            padding: 15px;
        }
        div:nth-of-type(odd){
            background-color: rgba(207,207,207,0.8);
        }
    }
    &__centr{
        width: 650px;
        height: 350px;
        margin: 0 auto;
        margin-top: -350px;
        &__logo{
            margin: 0 auto;
            height: 150px;
            img{
               margin-top:20px; 
            }
        }
        &__button{
            margin-top:10px;
            button{
                width: 150px;
                height: 40px;
                border:none;
                background-color:rgb(99,99,99);
                color:rgb(255,255,255);
                font-size:14px
            }
        }
        &__input{
            input{
                background-color: rgb(240,248,255);
                border: solid 1px rgb(0,0,128);
                width: 216px;
                height: 30px;  
                font-size:15px;
                margin-top:10px;
                padding-right: 10px;
            }       
        }
    }
    &__right{
        width: 150px;
        height: 350px;
        float:right;
        margin-top: -350px;
        &__block{
            width: 150px;
            height: 50px;
            background-color: rgba(217,217,217,0.8);
            box-sizing: border-box;
            padding: 15px;
        }
        div:nth-of-type(odd){
            background-color: rgba(207,207,207,0.8);
        }
    }
}
.bottom{
    width: 950px;
    height: 150px;
    position: absolute;
    &__block{
        display: inline-block;
        width: 50px;
        height: 150px;
        background-color: rgba(217,217,217,0.8);
        writing-mode:vertical-lr;
        box-sizing: border-box;
        padding: 15px;
    }
    div:nth-of-type(even){
        background-color: rgba(207,207,207,0.8);
    }
    div:nth-of-type(1), div:nth-of-type(15){
        margin-left: -150px;
        position: absolute;
        writing-mode:horizontal-tb;
        padding-top: 70px;
        width: 150px;
        height: 150px;
        background-color: rgba(125,125,125,0.8);
    }
    div:nth-of-type(15){
        margin-left: 0px;
    }
}
  