<navbar></navbar>
<div class="mainclasswindow">
    <div class="top">
        <span id="check0"></span>
        <span id="check1"></span>
        <div class="top__block" ng-repeat="item in $ctrl.top">{{item.name}}</div>
    </div>
    <div class="middle">
        <div class="middle__left">
            <div class="middle__left__block" ng-repeat="item in $ctrl.left">{{item.name}}</div>  
        </div>
        <div class="middle__centr">
            <div class="middle__centr__logo">
                <img src="img/logo-type.png">
            </div>
            <div class="middle__centr__button">
                <button type="button" ng-click="$ctrl.changePlayerPosition()">Кинути кубик</button>
                <button type="button">Купити</button>      
                <button type="button">Покращити</button> 
            </div>
            <div class="middle__centr__input">
                <input>
                <input>
                <input>
                <input>
            </div>
        </div>
        <div class="middle__right">
            <div class="middle__right__block" ng-repeat="item in $ctrl.right">{{item.name}}</div>  
        </div>
    </div>
    <div class="bottom">
        <div class="bottom__block" ng-repeat="item in $ctrl.bottom">{{item.name}}</div>
    </div>
</div>
User number...{{$ctrl.currentMoveOfPlayer}}<br>
User 0 pos......{{$ctrl.currentPosition.player0}}<br>
User 1 pos......{{$ctrl.currentPosition.player1}}<br>

<style>
    #check0,#check1{
        z-index:1;
        position: absolute;
        background-size: 30px auto;
        width: 30px;
        height: 30px;
        margin-left: -140px;
        margin-top: 10px;
    }
    #check0{
        background-image: url("../img/playCheaps/player_0.png");
    }
    #check1{
        background-image: url("../img/playCheaps/player_1.png");
        margin-top: 40px;
    }
</style>