<navbar></navbar>
<div class="create-window">
    <div class="create-window__logo">
        <img src="img/logo-type.png">
        <h1>Select a game mode</h1>
    </div>
    <div class="wrap">
        <input type="radio" name="slides" id="point1">
        <input type="radio" name="slides" id="point2" checked>
        <input type="radio" name="slides" id="point3">

        <div class="slider">
                <div ng-click="$ctrl.low()" class="slides img1"><p>Low</p></div>
                <div ng-click="$ctrl.medium()" class="slides img2"><p>Medium</p></div>
                <div ng-click="$ctrl.high()" class="slides img3"><p>High</p></div>
        </div>
        <div class="control">
                <label for="point1"></label>
                <label for="point2"></label>
                <label for="point3"></label>
        </div>
    </div>
    <h2>
    {{$ctrl.b.name}}<br>
    {{$ctrl.b.money}}<br>
    {{$ctrl.b.size}}<br>
    {{$ctrl.b.nop}}<br>
    </h2>
</div>
<!--<h1>{{ $ctrl.name }}</h1>